# Ignore Card output and the other directories
Card_output/
inkscape_scripts/

# Ignore the generated PDF files


# Ignore the local PNG files
*.png

# Ignore the prototype SVG files
cardback.svg

# ignore pycache files
__pycache__/

# Ignore the local color trials
prova_colore.ipynb
colors/
cardback_colors/