# Ignore Card output and the other directories
Card_output/
inkscape_scripts/

# Ignore the generated PDF files
*.pdf

# Ignore the local PNG files
*.png

# Ignore the prototype SVG files
cardback.svg

# ignore pycache files
__pycache__/